.SReport {
  width:800;
}

.SRName {
  font-size:20;
}

.SRImage {
  width:120;
  height:120;

}

.SReport img {
  float:right;
  min-width:120;
  height:120;
  padding: 10px;
} 

.SReport li {
  clear:both;

}

.TechDesc {
  width:800;
}

.SuppTech {
  margin-left:50;
  width:750;
}

.TechLevel {
  font-style:normal;
  font-size:14px;
  color:green;
  display: inline;
}

.TechLevel .Allow {
  color:Orange;
}

.TechLevel .NotAllow {
  color:Red;
}

.Thin input {
  width=50;
}

